<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons.html::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
<header th:replace="~{fragments/commons.html::navigation}"></header>

     <section class="road" th:each="route: ${motorcycleRoutes}" th:object="${route}">
        <div>
            <h2 th:text="*{name}">Title</h2>
            <p th:text="*{#strings.substring(description, 0, (description.length() >= 100 ? 100 : description.length())).concat('...')}">Very long description</p>
            <a th:href="@{/routes/{id}/details(id=*{id})}" class="btn">Learn More</a>
        </div>
        <img class="rounded-circle w-75 ml-5" th:src="*{pictureUrl}" alt="Title image">
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/commons.html::footer}" class="footer bg-blur rounded"></footer>
</html>