<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons.html::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/commons.html::navigation}"></header>

    <section th:each="route: ${routes}" th:object="${route}" class="road">
        <img th:src="*{pictureUrl}" alt="Title image">
        <div>
            <h2 th:text="*{name}">Your Route</h2>
            <p th:text="*{#strings.substring(description, 0, 100).concat('...')}">Description</p>
            <a th:href="@{/routes/{id}/details(id=*{id})}" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/commons.html::footer}" class="footer bg-blur rounded"></footer>
</html>